html{
	background: url(../images/addcourse.jpg) no-repeat center center fixed;
	background-size: cover;
	font-family: arial, sans-serif;
}
.container{
		background: #008080;
		opacity: .8;
		width: 470px;
		height: 300px;
		margin: auto;
		border-radius: 20px;
		margin-top: 50px;
		font-size: 35px;
		padding-top: 30px;
		padding-left:60px;
		color: white;
		position: relative;
		padding-right: 20px;
}

.container input{
	margin-top: 30px;
	background-color: #3c3c3c;
	width: 250px;
	height: 35px;
	font-size:18px;
	border-radius: 5px;
	color:#FFF;
	border-width: 0;
	text-align: center;
}
.available{
	color: #0000ff;
	font-size: 10px;
}
.taken{
	color: #FF0000;
	font-size: 10px;
}

.container input:focus{ 
	border-width: 2px;
	border-color: white;
    -webkit-transition: border-width 0.8s ease-in;
	-moz-transition: border-width 0.8s ease-in;
	transition: border-color 0.8s ease-in;
}

.container .addbtn{
	background: #FFF;
    float: right;
    width: 100px;
    color: #008080;
}

.container .addbtn:hover{
	background-color: #ccc;
}