.details{
	margin: 0;
	float: right;
	display:block;
	color: #00a050;
	width: 100px;
	text-decoration: none;
	font-size: 10px;
	background-color: #fff;
	z-index: 5;
	position: relative;

}
.classmateprofile{
	height: 50px;
	width: 50px;
	border-radius: 50%;
}
.profilepic{
	float: left;
	height: 100px;
	width: 100%;
	color: #FFF;
	bottom: 0;
	z-index: 1;
	position: relative;
	text-decoration: none;
}


.nav-main >ul >li >a:hover{
    background-color: #ccc;
    color: #008080;
}

.logout{
	float: right;
	padding: 0;
	margin:0;
}
.emblem{
	top: 0px;
    width: 100%;
    height: 100%;
    filter: blur(10px);
}